@media (max-width: 600px) {
  nav > ul {
    flex-direction: column; /* Change direction to vertical */
    gap: 10px; /* Add space between items */
    padding: 10px; /* Adjust padding for mobile view */
  }

  nav > ul > li {
    display: flex;
    flex-direction: column;
    text-align: center; /* Center the links for a better mobile appearance */
  }
}

@media screen and (max-width: 960px) {
  /*
        Move Aside underneath main content on small screens
        and remove margin
    */
  main {
    flex-wrap: wrap;
  }
  aside {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 610px) {
  /*
        Move Aside underneath main content on small screens
        and remove margin
    */
  .gallery.mockups > img {
    width: 100%;
  }
}
